/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

!!!!!!!!!!PAGE EDITED WITH BOOTSTRAP & FONTAWSOME!!!!!!!!
   ========================================================================== */




/* ==========================================================================
       home page
  ==============================================================================*/

body {
    color: black;
    background-color: #C5EAFD;
    margin-top: 0;
}
header, nav {
    margin-top: 0;
}
.heading {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #eee;
    padding-top: 48px;
    padding-bottom: 48px;
}
.summary-divider {
    margin: 80px 0;
}
.summary {
    overflow: hidden;
}
.summary-image.pull-left {
    margin-right: 40px;
}
.summary-image.pull-right {
    margin-left: 40px;
}
.summary-heading {
    font-size: 50px;
}
footer {
    margin: 50px 0;
}

/* ==========================================================================
   PRICE TABLE
   ========================================================================== */

.btn {
    margin: 10px 0px;
}

}
.iconok {
    font-size: 27px;
    color: green;
}
.iconno {
    font-size: 27px;
    color: rgb(221, 41, 41);
}
.theader {
    text-align: center;
    color: rgb(78, 33, 33);
}
.ptitle {
    font-size: 22px;
    font-weight: bold;
    margin: 7px;
}
.pprice {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}
.occurance {}
.cfeature {
    padding: 10px;
    font-weight: bold;
}
.feature {
    margin-bottom: 3px;
}
.infos {
    background: #CDD8C9;
}
.free {
    background: #DFF0D8;
}
.theader.free {
    background: #DFF0D8;
    border-bottom: 3px solid white;
}
.standard {
    background: #D9EDF7;
}
.theader.standard {
    background: #D9EDF7;
    border-bottom: 3px solid white;
}
.premium {
    background: #8DB9DF;
}
.theader.premium {
    background: #8DB9DF;
    border-bottom: 3px solid white;
}
.ccfreature {
    text-align: center;
    font-size: 2em;
}

/* ==========================================================================
   REGISTRE FORM FOR INSCRIPTION
   ========================================================================== */


#container1 {
    background-color: #e2dada;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* ==========================================================================
   contact
   ========================================================================== */
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #eee;
    padding-top: 48px;
    padding-bottom: 48px;
}

/*==============================================================================
socials icons nav
===============================================================================*/
body {
    background: white;
}
#contRow {
    margin-bottom: 70px;
}
.faicons {
    position: relative;
    height: 3em;
    width: 13.5em;
    text-align: center;
    padding-top: 100px;
}
.faicons li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform 0.7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;
}
.faicons a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;
}
.faicons li:hover {
    -webkit-transform: scale(1.3, 1.3) rotate(-35deg);
    -moz-transform: scale(1.3, 1.3) rotate(-35deg);
    -ms-transform: scale(1.3, 1.3) rotate(-35deg);
    -o-transform: scale(1.3, 1.3) rotate(-35deg);
    transform: scale(1.3, 1.3) rotate(-35deg);
}
.faspot_1 {
    background: #1A85BC;
    left: 0;
    top: 50%;
}
.faspot_2 {
    background: #02aaf8;
    top: 75;
    left: 25%;
}
.faspot_3 {
    background: #5EA9DD;
    left: 50%;
    top: 50%;
}
.faspot_4 {
    background: #DC4A38;
    top: 75;
    left: 75%;
}
.faspot_5 {
    background: #FF4500;
    left: 100%;
    top: 50%;
}
.faspot_6 {
    background: #000000;
    top: 75;
    left: 125%;
}

/* ==========================================================================
   registr form & resa
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
